<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupTitle</key>
		<string>Трубы</string>
		<key>typesGroup</key>
		<array>
			<dict>
				<key>indexType</key>
				<integer>0</integer>
				<key>titleType</key>
				<string>Труба ПНД</string>
				<key>attachments</key>
				<array>
					<dict>
						<key>attachmentTitle</key>
						<string>Газопроводная</string>
						<key>linkHref</key>
						<string>/truba/pnd/gazoprovodnaya/</string>
					</dict>
					<dict>
						<key>attachmentTitle</key>
						<string>Водопроводная</string>
						<key>linkHref</key>
						<string>/truba/pnd/vodoprovodnaya/</string>
					</dict>
					<dict>
						<key>attachmentTitle</key>
						<string>Техническая</string>
						<key>linkHref</key>
						<string>/truba/pnd/technicheskie/</string>
					</dict>
					<dict>
						<key>attachmentTitle</key>
						<string>Дренажная</string>
						<key>linkHref</key>
						<string>/truba/pnd/drenazhnaya/</string>
					</dict>
					<dict>
						<key>attachmentTitle</key>
						<string>Канализационная</string>
						<key>linkHref</key>
						<string>/truba/pnd/dlya-kanalizacii/</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>indexType</key>
				<integer>0</integer>
				<key>titleType</key>
				<string>Труба полипропиленовая (ПП)</string>
				<key>attachments</key>
				<array>
					<dict>
						<key>attachmentTitle</key>
						<string>Канализационная</string>
						<key>linkHref</key>
						<string>/truba/polipropilenovaya/dlya-kanalizacii/</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupTitle</key>
		<string>Фитинги</string>
		<key>typesGroup</key>
		<array>
			<dict>
				<key>indexType</key>
				<integer>1</integer>
				<key>titleType</key>
				<string>Фитинги ПНД</string>
				<key>attachments</key>
				<array>
					<dict>
						<key>attachmentTitle</key>
						<string>Тройники</string>
						<key>linkHref</key>
						<string>/fitingi/pnd/troyniki/</string>
					</dict>
					<dict>
						<key>attachmentTitle</key>
						<string>Отводы</string>
						<key>linkHref</key>
						<string>/fitingi/pnd/otvody/</string>
					</dict>
					<dict>
						<key>attachmentTitle</key>
						<string>Муфты</string>
						<key>linkHref</key>
						<string>/fitingi/pnd/mufty/</string>
					</dict>
					<dict>
						<key>attachmentTitle</key>
						<string>Переходы</string>
						<key>linkHref</key>
						<string>/fitingi/pnd/perehody/</string>
					</dict>
					<dict>
						<key>attachmentTitle</key>
						<string>Заглушки</string>
						<key>linkHref</key>
						<string>/fitingi/pnd/zaglushki/</string>
					</dict>
					<dict>
						<key>attachmentTitle</key>
						<string>Седелки</string>
						<key>linkHref</key>
						<string>/fitingi/pnd/sedelki/</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>indexType</key>
				<integer>1</integer>
				<key>titleType</key>
				<string>Фитинги для гофрированного полиэтилена</string>
				<key>attachments</key>
				<array>
					<dict>
						<key>attachmentTitle</key>
						<string>Муфты</string>
						<key>linkHref</key>
						<string>/fitingi/dlya-gofrirovannogo-polietilena/mufty/</string>
					</dict>
					<dict>
						<key>attachmentTitle</key>
						<string>Кольца</string>
						<key>linkHref</key>
						<string>/fitingi/dlya-gofrirovannogo-polietilena/kolca/</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
