<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Каталог продукции</string>
		<key>description</key>
		<string>Весь ассортимент всегда в наличии</string>
		<key>attachments</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>truba</string>
				<key>attachmentTitle</key>
				<string>Трубы</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>fiting</string>
				<key>attachmentTitle</key>
				<string>Фитинги</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Производители труб</string>
		<key>description</key>
		<string>Вы можете найти трубу по бренду</string>
		<key>attachments</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>magnum</string>
				<key>attachmentTitle</key>
				<string>Трубы Magnum</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>hydro</string>
				<key>attachmentTitle</key>
				<string>Трубы Hydro</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>corex</string>
				<key>attachmentTitle</key>
				<string>Трубы Corex</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>korsys</string>
				<key>attachmentTitle</key>
				<string>Трубы Корсис</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Как мы работаем</string>
		<key>description</key>
		<string>Один день от заказа до получения товара</string>
		<key>attachments</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>how1</string>
				<key>attachmentTitle</key>
				<string>Позвоните нам</string>
				<key>attechmentDescription</key>
				<string>Нажмите &quot;оформить заказ&quot; или обратитесь или обратитесь к on-line консультанту
к on-line консультанту</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>how2</string>
				<key>attachmentTitle</key>
				<string>Составляем договор</string>
				<key>attechmentDescription</key>
				<string>После того, как Вы определитесь с выбором, мы подготовим договор купли-продажи и счет</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>how3</string>
				<key>attachmentTitle</key>
				<string>Вы оплачиваете счет</string>
				<key>attechmentDescription</key>
				<string>Указываете адрес доставки товара</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>how4</string>
				<key>attachmentTitle</key>
				<string>Мы отправляем товар</string>
				<key>attechmentDescription</key>
				<string>По указанному Вами адресу. Мы доставляем по всей России</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
