<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>group</key>
		<integer>0</integer>
		<key>groupName</key>
		<string>Каталог труб ПНД</string>
		<key>description</key>
		<string>Весь ассортимент всегда в наличии</string>
		<key>attachments</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>vodoprovodnaya</string>
				<key>attachmentTitle</key>
				<string>Водопроводная</string>
				<key>linkHref</key>
				<string>/truba/pnd/vodoprovodnaya/</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>gazoprovodnaya</string>
				<key>attachmentTitle</key>
				<string>Газопроводная</string>
				<key>linkHref</key>
				<string>/truba/pnd/gazoprovodnaya/</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>technicheskie</string>
				<key>attachmentTitle</key>
				<string>Техническая</string>
				<key>linkHref</key>
				<string>/truba/pnd/technicheskie/</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>drenazhnaya</string>
				<key>attachmentTitle</key>
				<string>Дренажная</string>
				<key>linkHref</key>
				<string>/truba/pnd/drenazhnaya/</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>dlya-kanalizacii</string>
				<key>attachmentTitle</key>
				<string>Канализационная</string>
				<key>linkHref</key>
				<string>/truba/pnd/dlya-kanalizacii/</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<integer>1</integer>
		<key>groupName</key>
		<string>Производители труб</string>
		<key>description</key>
		<string>Вы можете найти трубу по бренду</string>
		<key>attachments</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>magnum</string>
				<key>attachmentTitle</key>
				<string>Трубы Magnum</string>
				<key>linkHref</key>
				<string>/truba/magnum/</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>hydro</string>
				<key>attachmentTitle</key>
				<string>Трубы Hydro</string>
				<key>linkHref</key>
				<string>/truba/hydro/</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>corex</string>
				<key>attachmentTitle</key>
				<string>Трубы Corex</string>
				<key>linkHref</key>
				<string>/truba/corex/</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>korsys</string>
				<key>attachmentTitle</key>
				<string>Трубы Корсис</string>
				<key>linkHref</key>
				<string>/truba/korsis/</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<integer>2</integer>
		<key>groupName</key>
		<string>Как мы работаем</string>
		<key>description</key>
		<string>Один день от заказа до получения товара</string>
		<key>attachments</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>how1</string>
				<key>attachmentTitle</key>
				<string>Позвоните нам</string>
				<key>attechmentDescription</key>
				<string>Нажмите &quot;оформить заказ&quot; или обратитесь к on-line консультанту</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>how2</string>
				<key>attachmentTitle</key>
				<string>Договор</string>
				<key>attechmentDescription</key>
				<string>Вы выбрали товар, мы подготовим договор купли-продажи и счет</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>how3</string>
				<key>attachmentTitle</key>
				<string>Оплата товара</string>
				<key>attechmentDescription</key>
				<string>Вы оплачиваете счет и указываете адрес доставки товара</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>how4</string>
				<key>attachmentTitle</key>
				<string>Доставка</string>
				<key>attechmentDescription</key>
				<string>По указанному Вами адресу. Мы осуществляем доставку</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
